* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dk-grey: #575757;
  --white: #ffffff;
  --black: #222222;
  --blue: #336799;
}

/* Navbar CSS */
.navbar {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid var(--dk-grey);
  align-items: center;
  background-color: var(--black);
  width: 100%;
  height: 75px;
  top: 0;
  left: 0;
}
.navbarLinks a {
  color: var(--white);
  font-size: 1.5em;
  text-decoration: none;
  padding: 0px 5px;
  cursor: pointer;
  transition-duration: 0.8s;
}
.navbarLinks a:hover {
  color: var(--blue);
}

#signInBtn {
  border: none;
  height: 35px;
  width: 100px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1em;
  border-radius: 10px;
  display: block;
}
#userSignedIn {
  display: none;
  height: 35px;
  width: 100px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 10px;
  font-size: 1em;
  text-align: center;
  padding: 8px 0px;
}

/* Sign In/ Sign Up modal */
#signInModal,
#signUpModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-flow: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.signInModalContent,
.signUpModalContent {
  background-color: var(--black);
  padding: 40px 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#closeSignInModal,
#closeSignUpModal {
  color: var(--white);
  font-size: 1.5em;
  position: relative;
  left: 150px;
  top: -10px;
  cursor: pointer;
}
#userEmail,
#userPasswords,
#userSignUpEmail,
#userSignUpPasswords,
#userConfirmSignUpPasswords,
#userSignUpFirstName,
#userSignUpLastName {
  border: none;
  margin: 10px 0px;
  padding: 10px 10px;
  width: 300px;
}
#SignUpUser,
#SignInUser {
  color: var(--blue);
  cursor: pointer;
}
.signUpOrSignIn {
  color: var(--white);
}
.signInTitle,
.signUpTitle {
  color: var(--white);
  font-size: 2em;
  margin-bottom: 10px;
}
#signInUserBtn,
#signUpUserBtn {
  border: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 10px;
  width: 100px;
  height: 30px;
  margin: 10px 0px;
  cursor: pointer;
  transition-duration: 0.5s;
}
#signInUserBtn:hover,
#signUpUserBtn:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

/* Addding route Section css */
.addingRouteSection {
  width: 100%;
  min-height: 500px;
  background-color: var(--black);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.addingRouteFormSectionParagraph {
  color: var(--white);
  border-bottom: 2px solid var(--dk-grey);
  font-size: 2em;
  text-align: center;
}
.pictureSection {
  margin: 20px 20px;
  height: 400px;
  width: 50%;
}
.rockClimbingHeroImage {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.addingRouteFormSection {
  height: 400px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
.routeForms {
  margin-top: 20px;
}
.rockClimbingTypes,
.rockClimbingGrades,
.rockClimbingName,
.rockClimbingAttempts,
.rockClimbingRating,
#userfeedback {
  color: var(--white);
  font-size: 1.5em;
}
#addRouteBtn,
#modalUpdateRouteBtn {
  width: 100px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background-color: var(--white);
  color: var(--black);
  font-size: 0.9em;
  margin-top: 20px;
  transition: 0.5s;
  cursor: pointer;
}
#addRouteBtn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.allRoutesAddedSection {
  padding: 0 20px;
}
.allRoutesAddedSectionHeader {
  color: var(--black);
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 8px solid var(--blue);
  margin-bottom: 10px;
}
.tableTitle {
  border-bottom: 4px solid var(--blue);
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  color: var(--black);
  text-align: center;
  width: 50px;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: rgba(206, 206, 206, 0.6);
}

#updateRouteBtn {
  border: none;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--blue);
  height: 25px;
  width: 100px;
  font-size: 1.25em;
}

#deleteRouteBtn {
  border: none;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--dk-grey);
  height: 25px;
  width: 100px;
  font-size: 1.25em;
}
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  flex-flow: column;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modalContent {
  background-color: var(--black);
  padding: 40px 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
#closeModal {
  position: relative;
  color: var(--white);
  font-size: 1.5em;
  top: -25px;
  left: 100px;
}
#closeModal:hover {
  cursor: pointer;
}

@media (max-width: 720px) {
  .addingRouteSection {
    flex-flow: column nowrap;
    max-height: 700px;
  }
  #addRouteBtn {
    margin: 5px 0px;
  }
  .pictureSection {
    width: 80%;
  }
  .addingRouteFormSection {
    width: 100%;
    display: inline;
  }
  .routeForms {
    text-align: center;
  }

  .allRoutesAddedSection {
    padding: 0;
  }
  th {
    padding: 0px;
    text-align: center;
    font-size: 12px;
  }
  #updateRouteBtn,
  #deleteRouteBtn {
    width: 50px;
    height: 15px;
    font-size: 0.75em;
  }
}
